/* .size
{
image-resolution: calc();
} */
 .art-grid{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin:0 auto;
}

.art-row{
    display: flex;
   margin:" 0 auto";
      width: 1520px;
    height: 900px;
    margin-left: -80px;
}

.flip-front{
    width: 1000px;
    height: 950px;
    background-size: cover;
    background-position: center;
   
}
.art-new
{
    margin:" 0 auto";
width: 100%;
    height: 900px;
     background-size: cover;
    background-position: center;
}