/* =========================
   Desktop Navigation
========================= */

.main-nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #0c0c0c;
}

/* Art Gallery container */
.nav-item.has-dropdown {
  position: relative;
}

/* Make button look like normal navigation link */
.dropdown-trigger {
  border: none;
  background: transparent;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

/* =========================
   Dropdown
========================= */

.nav-item .dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  min-width: 180px;

  background: rgb(122, 42, 220);
  border: 1px solid #141414;
  padding: 8px 0;

  display: none;
  z-index: 20;
}

/* CLICK */
.nav-item.open .dropdown {
  display: block;
}

/* HOVER */
.nav-item.has-dropdown:hover .dropdown {
  display: block;
}

/* Dropdown links */
.dropdown-link,
.dropdown-link:visited,
.dropdown-link:active {
  display: block;
  padding: 10px 14px;

  color: #121212;
  background: transparent;

  text-decoration: none;
}

.dropdown-link:hover {
  background: rgb(94, 75, 101);
  color: #262525;
}
